{% extends "SoundBuzzBundle:Default:layout.html.twig" %}

{% block title %} Playlist songs - SoundBuzz {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/track.css')}}">
{% endblock %}

{% block body %}
    <h2 class="titretrack">Playlist : {{ playlist.name }}</h2>
    <div class="table-list">
        <table>
            <tr>
                <th colspan="2"></th>
                <th>Titre</th>
                <th>Extension</th>
                <th class="displayTD">Description</th>
                {#<th>Urlpicture</th>#}
                <th>Compositeur</th>
                <th>Duration</th>
                <th class="displayTD">Nb. écoute</th>
                <th class="displayTD">Nb. téléchargement</th>
                <th class="displayTD">Nb. vues</th>
                <th class="displayTD">Nb. likes</th>
                <th class="iconsActions">Actions</th>
            </tr>
            {% for track in tracks %}
                <tr>
                    <td class="likeTD">
                        <i class="fa fa-heart" aria-hidden="true"></i>
                    </td>
                    <td class="img-table-list">
                        <img src="{{ asset('uploads/pictures/') }}{{ track.urlPicture }}" alt="{{ track.title }}" title="{{ track.title }}" style="height: 70px" />
                    </td>
                    <td><a href="{{ path('track_information', {'id': track.id}) }}"> {{ track.title }}</a></td>
                    <td>{{ track.extension }}</td>
                    <td class="displayTD">{{ track.description }}</td>
                    <td>{{ track.compositor }}</td>
                    <td>{{ track.duration }}</td>
                    <td class="displayTD">{{ track.nbListenings }}</td>
                    <td class="displayTD">{{ track.nbDownloads }}</td>
                    <td class="displayTD">{{ track.nbViews }}</td>
                    <td class="displayTD">{{ track.nbLikes }}</td>
                    <td class="iconsActions">
                        <a href="{{ path('playlist_add_tracks_track_added', { 'id': playlist.id, 'trackId': track.id }) }}"><i class="fas fa-plus-circle"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
