{% extends "SoundBuzzBundle:Default:layout.html.twig" %}

{% block title %} Playlists - SoundBuzz {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/track.css')}}">
{% endblock %}

{% block body %}
    <div class="table-list">
        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Durée</th>
                <th>Date de création</th>
                <th>Action</th>
            </tr>
            {% for playlist in playlists %}
                <tr>
                    <td>
                        <a href="{{ path('playlist_information', { 'id': playlist.id }) }}">
                            {{ playlist.name }}
                        </a>
                    </td>
                    <td>{{ playlist.description }}</td>
                    <td>{#{{ playlist.duration }}#}</td>
                    <td>{{ playlist.duration|date("d/m/Y") }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
