{% extends "SoundBuzzBundle:Default:layout.html.twig" %}
{% block title %}
SoundBuzz - Musiques
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/track.css')}}">
    <link rel="stylesheet" href="{{ asset('css/form.css')}}">
{%  endblock %}
{% block body %}
    <h2 class="titretrack">Modifier un morceau</h2>
    <div class="addTracks">
        <a href="{{ path('track_information', {'id': track.id}) }}">Annulé</a>
        <a href="{{ path('track_delete', { 'id': track.id }) }}">Supprimer</a>
    </div>
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
    {{ form_end(edit_form) }}

{% endblock %}
