{% extends "SoundBuzzBundle:Default:layout.html.twig" %}
{% block title %}
    SoundBuzz - Mes Musiques
{% endblock %}
{% block head %}
<link rel="stylesheet" href="{{ asset('css/track.css')}}">
{%  endblock %}
{% block body %}
    <h2 class="titretrack">Mes musiques </h2>
    <div class="addTracks"><a href="{{ path('track_new') }}">Ajouter un nouveau morceau</a></div>
    <div class="table-list">
        <table class="table-tracks">
            <thead>
                <tr>
                    <th></th>
                    <th>Titre</th>
                    <th>Extension</th>
                    <th class="displayTD">Description</th>
                    {#<th>Urlpicture</th>#}
                    <th>Compositeur</th>
                    <th>Duration</th>
                    <th class="displayTD">Nb. écoute</th>
                    <th class="displayTD">Nb. téléchargement</th>
                    <th class="displayTD">Nb. vues</th>
                    <th class="displayTD">Nb. likes</th>
                    {#<th>Updatedat</th>
                    <th>Createdat</th>
                    <th>Nbcomments</th>
                    <th>Isvalidated</th>#}
                    <th class="iconsActions">Actions</th>
                    {#
                    <th>Explicitcontent</th>
                    <th>Downloadauthorization</th>
                    <th>Transferredat</th>#}
                </tr>
            </thead>
            <tbody>
            {% for track in tracks %}
                <tr>
                    <td><img src="{{ asset('uploads/pictures/') }}{{user.id}}/{{ track.urlPicture }}" alt="{{ track.title }}" title="{{ track.title }}" />
                    </td>
                    <td>
                        <i class="playTrack far fa-play-circle" data-src="{{ asset('uploads/tracks/') }}{{user.id}}/{{ track.urlTrack }}" data-title="{{ track.title }}" data-picture="{{ asset('uploads/pictures/') }}{{user.id}}/{{ track.urlPicture }}" data-author="{{ track.compositor }}"></i>
                        <i style="display: none" class="pauseTrack far fa-pause-circle" data-src="{{ asset('uploads/tracks/') }}{{user.id}}/{{ track.urlTrack }}" data-title="{{ track.title }}" data-picture="{{ asset('uploads/pictures/') }}{{user.id}}/{{ track.urlPicture }}" data-author="{{ track.compositor }}"></i>
                        <a href="{{ path('track_information', {'id': track.id}) }}"> {{ track.title }}</a>
                    </td>
                    <td>{{ track.extension }}</td>
                    <td class="displayTD">{{ track.description }}</td>
                    <td>{{ track.compositor }}</td>
                    {#<td>{% if track.explicitContent %}Yes{% else %}No{% endif %}</td>
                    <td>{% if track.downloadAuthorization %}Yes{% else %}No{% endif %}</td>
                    <td>{% if track.transferredAt %}{{ track.transferredAt|date('Y-m-d H:i:s') }}{% endif %}</td>#}
                    <td>{{ track.duration }}</td>
                    <td class="displayTD">{{ track.nbListenings }}</td>
                    <td class="displayTD">{{ track.nbDownloads }}</td>
                    <td class="displayTD">{{ track.nbViews }}</td>
                    <td class="displayTD">{{ track.nbLikes }}</td>
                    {#<td>{% if track.updatedAt %}{{ track.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{% if track.createdAt %}{{ track.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>{{ track.nbComments }}</td>#}

                    {# <td>{% if track.isValidated %}Yes{% else %}No{% endif %}</td> #}
                    <td class="iconsActions">
                        <i class="playTrack far fa-play-circle" data-src="{{ asset('uploads/tracks/') }}{{user.id}}/{{ track.urlTrack }}" data-title="{{ track.title }}" data-picture="{{ asset('uploads/pictures/') }}{{user.id}}/{{ track.urlPicture }}" data-author="{{ track.compositor }}"></i>
                        <i style="display: none" class="pauseTrack far fa-pause-circle" data-src="{{ asset('uploads/tracks/') }}{{user.id}}/{{ track.urlTrack }}" data-title="{{ track.title }}" data-picture="{{ asset('uploads/pictures/') }}{{user.id}}/{{ track.urlPicture }}" data-author="{{ track.compositor }}"></i>
                        <a href="{{ path('track_edit', { 'id': track.id }) }}" title="Modifier"><i class="fas fa-edit"></i></a>
                        <a href="{{ asset('uploads/tracks/') }}{{user.id}}/{{ track.urlTrack }}" title="Télécharger"><i class="fas fa-download"></i></a>
                        <a href="{{ path('track_delete', { 'id': track.id }) }}" title="Supprimer"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        {# var element = document.getElementById("track_13");
        element.addEventListener("play", function(elem) {
            console.log('test');
            var timer = setInterval(()=>{
                if(elem.target.currentTime > 10){
                    alert("update");
                }
                else{
                    clearInterval(timer);
                }
            },1000);

        }, true); #}
        {# element = document.getElementById(superId);

        var timer;
        var updated = 0;
        element.addEventListener("play", function() {
            timer = setInterval(()=>{
                if(element.currentTime > 10 && updated == 0){
                    alert("update");
                    updated = 1;
                }
            },1000);

            timer();
        }, true);
            
        element.addEventListener("pause", function() {
            clearInterval(timer);
        }, true); #}
    </script>
{% endblock %}
