{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tracks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Extension</th>
                <th>Title</th>
                <th>Description</th>
                <th>Urlpicture</th>
                <th>Compositor</th>
                <th>Explicitcontent</th>
                <th>Downloadauthorization</th>
                <th>Transferredat</th>
                <th>Duration</th>
                <th>Nblistenings</th>
                <th>Nbdownloads</th>
                <th>Nbviews</th>
                <th>Nblikes</th>
                <th>Updatedat</th>
                <th>Createdat</th>
                <th>Nbcomments</th>
                <th>Isvalidated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for track in tracks %}
            <tr>
                <td></a></td>
                <td>{{ track.extension }}</td>
                <td>{{ track.title }}</td>
                <td>{{ track.description }}</td>
                <td>{{ track.urlPicture }}</td>
                <td>{{ track.compositor }}</td>
                <td>{% if track.explicitContent %}Yes{% else %}No{% endif %}</td>
                <td>{% if track.downloadAuthorization %}Yes{% else %}No{% endif %}</td>
                <td>{% if track.transferredAt %}{{ track.transferredAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ track.duration }}</td>
                <td>{{ track.nbListenings }}</td>
                <td>{{ track.nbDownloads }}</td>
                <td>{{ track.nbViews }}</td>
                <td>{{ track.nbLikes }}</td>
                <td>{% if track.updatedAt %}{{ track.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if track.createdAt %}{{ track.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ track.nbComments }}</td>
                <td>{% if track.isValidated %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                          <a href="{{ path('track_delete', { 'id': track.id }) }}">Delete</a>
                        </li>
                        <li>
                            <a href="{{ path('track_edit', { 'id': track.id }) }}">edit</a>
                            
                        </li>
                         <li>
                            <a href="https://archive.org/download/testmp3testfile/testmp3testfile_64kb.m3u">Download</a>
                            
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('track_new') }}">Create a new track</a>
        </li>
    </ul>
{% endblock %}
