{% extends "SoundBuzzBundle:Default:layout.html.twig" %}

{% block title %}
    SoundBuzz - Musique : {{ track.title }}
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/track.css')}}">
    <link rel="stylesheet" href="{{ asset('css/coms.css')}}">
{% endblock %}

{% block body %}
    <section id="track">
        {#<img class="img-artist" src="https://d2wnje91xuggzh.cloudfront.net/assets/online-magazine-fr/reiki-channeling/spiritualite/signification-couleur-orange/signification-couleur-orange2.jpg" alt="" title="" />
#}
        <h2 class="titretrack">{#Information#}{{ track.title }} <i class="fa fa-heart" aria-hidden="true"></i></h2>
        <div class="addTracks">
            <a href="{{ path('track_edit', { 'id': track.id }) }}"><i class="fas fa-edit"></i> Modifier</a>
            <a href="../uploads/tracks/{{user.id}}/{{track.urlTrack}}"><i class="fas fa-download"></i> Télécharger</a>
            <a href="{{ path('track_delete', { 'id': track.id }) }}"><i class="fas fa-trash"></i> Supprimer</a>
        </div>

        <div class="bloc-info">
            <div class="bg-audio" style="background: url('../../uploads/pictures/{{user.id}}/{{ track.urlPicture }}') no-repeat; background-size: cover">
                <div class="controlMusic">
                    <i class="playTrack far fa-play-circle" data-src="{{ asset('uploads/tracks/') }}{{user.id}}/{{ track.urlTrack }}" data-title="{{ track.title }}" data-picture="{{ asset('uploads/pictures/') }}{{user.id}}/{{ track.urlPicture }}" data-author="{{ track.compositor }}"></i>
                    <i style="display: none" class="pauseTrack far fa-pause-circle" data-src="{{ asset('uploads/tracks/') }}{{user.id}}/{{ track.urlTrack }}" data-title="{{ track.title }}" data-picture="{{ asset('uploads/pictures/') }}{{user.id}}/{{ track.urlPicture }}" data-author="{{ track.compositor }}"></i>
                </div>

            </div>
            <table>
                <tr>
                    <th>Titre</th>
                    <td>{{ track.title }}</td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td>{{ user.firstName|capitalize }} {{ user.lastName|first|lower|capitalize }}</td>
                </tr>
                <tr>
                    <th>Compositeur</th>
                    <td>{{ track.compositor|capitalize }}</td>
                </tr>
                <tr>
                    <th>Genre</th>
                    {% for genre in genres %}
                        <td>{{ genre.name }}</td>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ track.description }}</td>
                </tr>
            </table>
            <table>
                <tr>
                    <th>Durée</th>
                    <td>{{ track.duration }}</td>
                </tr>
                <tr>
                    <th>Nombre d'écoutes</th>
                    <td>{{ track.nbListenings }}</td>
                </tr>
                <tr>
                    <th>Nombre de téléchargements</th>
                    <td>{{ track.nbDownloads }}</td>
                </tr>
                <tr>
                    <th>Nombre de vues</th>
                    <td>{{ track.nbViews }}</td>
                </tr>
                <tr>
                    <th>Nombre de coup de coeur</th>
                    <td>{{ track.nbLikes}}</td>
                </tr>
            </table>

        </div>
        <div id="coms">
            <div id="entete-coms">
                <div><img src="https://d2wnje91xuggzh.cloudfront.net/assets/online-magazine-fr/reiki-channeling/spiritualite/signification-couleur-orange/signification-couleur-orange2.jpg" alt="" title="" /></div>
                {#<form>#}
                {#<textarea></textarea>#}
                {#<button type="submit" class="btn-outline-success">Envoyer</button>#}
                {#</form>#}
                {{ form(addCommentForm) }}
            </div>
            {% for comment in comments %}
                <div class="commentaires">
                    <div><img src="https://d2wnje91xuggzh.cloudfront.net/assets/online-magazine-fr/reiki-channeling/spiritualite/signification-couleur-orange/signification-couleur-orange2.jpg" alt="" title="" /></div>
                    <div>
                        <h5>{{ comment.user.firstName|capitalize }} {{ comment.user.lastName|first|lower|capitalize  }} - {{ comment.createdAt|date }}</h5>
                        <p>{{ comment.content }}</p>
                        <!--<button class="button-coms">Répondre</button>-->
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
