{% trans_default_domain 'FOSUserBundle' %}

<h2 class="title_form">S'enregister</h2>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {{ form_widget(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.avatarUrl) }}
        {{ form_row(form.isActivated) }}
        {{ form_row(form.createdAt) }}
        <div class="submit_form">
            <input type="submit" value="{{ 'registration.submit'|trans }}" />
        </div>
{{ form_end(form) }}
