{% extends "SoundBuzzBundle:Default:layout.html.twig" %}

{% block title %} SoundBuzz - Profil {% endblock %}

{% block body %}
    <div class="profil">
        <div class="entete">
            <h2 {% if (userIsConnected) %}class="titretrack"{% endif %}>Profil</h2>
            {% if (userIsConnected) %}
            <div class="addTracks">
                <a href="{{ path('soundbuzz_updateprofil', {'id': user.id}) }}"><i class="fas fa-edit"></i> Modifier</a>
                <a href="{{ path('soundbuzz_deleteuser', {'id': user.id}) }}"><i class="fas fa-trash"></i> Supprimer</a>
            </div>
            {% endif %}
        </div>
        <div class="bloc-info">
            <img src="{{user.avatarUrl}}"/>
            <table>
                <tr>
                    <th>Nom :</th>
                    <td>{{ user.lastName }}</td>
                </tr>
                <tr>
                    <th>Prénom :</th>
                    <td>{{ user.firstname }}</td>
                </tr>
                <tr>
                    <th>Compte créé le :</th>
                    <td>{{ user.createdAt|date("d/m/Y") }}</td>
                </tr>
                <tr>
                    <th>Email :</th>
                    <td><a href="mailto:{{ user.username }}">{{ user.username }}</a></td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
