{% extends "SoundBuzzBundle:Default:layout.html.twig" %}
{% block title %} Accueil - SoundBuzz {% endblock %}

{% block body %}

    {#<table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Urlpicture</th>
            <th>Compositor</th>
            <th>Durée</th>
            <th>Nombre d'écoutes</th>
            <th>Nombre de telechargements</th>
            <th>Nombre de likes</th>
            <th></th>
        </tr>
        {% for playlist in playlists %}
            {% for track in tracks %}
            <tr>    
                <td>{{ track.title }}</td>
                <td>{{ track.description }}</td>
                <td><img style="width: 200px;" src="../uploads/tracks/{{user.id}}/{{ track.urlPicture }}"></td>
                <td>{{ track.compositor }}</td>
                <td>{{ track.duration }}</td>
                <td>{{ track.nbListenings }}</td>
                <td>{{ track.nbDownloads }}</td>
                <td>{{ track.nbLikes }} </td>
                <td>
                    <audio controls="controls">
                    <source src="../uploads/tracks/{{user.id}}/{{ track.urlTrack }}" type="audio/mp3" />
                </td>
                <td>
                    <ul>
                         <li>
                           <a href="{{ track.urlTrack }}" download> Download</a>
                            <a href="{{ track.urlTrack }}">LIKE</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
        #}


{% endblock %}