{% extends "SoundBuzzBundle:Default:layout.html.twig" %}

{% block title %} Accueil - SoundBuzz {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ asset('css/home.css')}}">
{%  endblock %}
{% block body %}
    <section>
        <h2 class="titreHighlight">Nouvelles musiques</h2>
        <div id="highlight">
            {% for track in tracks | slice ( 0 , 2 ) %}
                <div style="background: url('{{ asset('uploads/pictures/') }}{{ track.urlPicture }}') no-repeat;background-size: cover;">
                    <a class="linkHighlight" href="{{ path('track_information', {'id': track.id}) }}"></a>
                </div>
                {#<img src="{{ track.urlPicture }}" alt="{{ track.title }}" title="{{ track.title }}" />#}
            {% endfor %}
        </div>
        <div class="listsimg">
            <h2>Genres</h2>
            <ul class="list-gender">
                {% for genre in genres %}
                    <li>
                        <h4><a href="{{ path('track_by_genre', {'id': genre.id}) }}"><span>{{genre.name}}</span></a></h4>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="listsimg music-home">
            <h2>Musique conseillée</h2>
            <ul>
                {% for track in tracks | slice ( 0 , 5 ) %}
                    <li style="background: url('{{ asset('uploads/pictures/') }}{{ track.urlPicture }}')">
                        <h4><a href="{{ path('track_information', {'id': track.id}) }}">{{ track.title }}</a>
                            <a href="{{ path('liked_tracks') }}">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </h4>
                        <div class="controlMusic">
                            <i class="playTrack far fa-play-circle" data-src="{{ asset('uploads/tracks/') }}{{ track.urlTrack }}" data-title="{{ track.title }}" data-picture="{{ asset('uploads/pictures/') }}{{ track.urlPicture }}" data-author="{{ track.compositor }}"></i>
                            <i style="display: none" class="pauseTrack far fa-pause-circle" data-src="{{ asset('uploads/tracks/') }}{{ track.urlTrack }}" data-title="{{ track.title }}" data-picture="{{ asset('uploads/pictures/') }}{{ track.urlPicture }}" data-author="{{ track.compositor }}"></i>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="listsimg music-home">
            <h2>Playlists conseillées</h2>
            <ul class="playlist">
                {% for playlist in playlists | slice ( 0 , 5 ) %}
                    <li style="background: url('https://d2wnje91xuggzh.cloudfront.net/assets/online-magazine-fr/reiki-channeling/spiritualite/signification-couleur-orange/signification-couleur-orange2.jpg')">
                        <h4><a href="{{ path('playlist_information', {'id': playlist.id}) }}"> {{ playlist.name }}</a></h4>
                        <div class="controlMusic">
                            <i class="playTrack far fa-play-circle"></i>
                            <i style="display: none" class="pauseTrack far fa-pause-circle"></i>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}
